body {
    font-family: 'Shippori Mincho B1', Georgia, serif;
    background-color: ;
}

.distortion-name {
    font-weight: 800;
    font-size: xx-large;
}

.distortion-description {
    font-size: large;
}
