body {
    font-family: 'Cardo', Georgia, serif;
    animation: fadeIn ease 1s;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.header {
    margin: 2%;
}

.leaf-image {
    fill: black;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 2%;
    z-index: -1;
}

.footer-links {
    list-style-type: none;
    margin: 2%;
}

.distortion-name {
    font-weight: 700;
    font-size: xx-large;
}

.distortion-description {
    font-size: large;
    background-color: white;
}

.distortion-library {
    padding: 10%;
    width: 50%;
}

.distortion-details {
    padding: 10%;
    width: 50%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wrapper {
    display: flex;
    height: 50%;
}

.distortion-list {
    list-style-type: none;
    font-size: large;
    font-weight: 700;
}

li {
    cursor: pointer;
}
