body {
    font-family: 'Cardo', Georgia, serif;
    animation: fadeIn ease 1s;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.title {
    margin: 2em;
}

.leaf-svg {
    fill: black;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 2em;
    z-index: -1;
}

.footer-links {
    list-style-type: none;
    margin: 2em;
}

.content {
    display: flex;
    margin-top: 8em;
    width: 100%;
}

.distortion-nav {
    width: 50%;
    display: flex;
    justify-content: center;
}

.distortion-details {
    width: 50%;
    padding-left: 4em;
}

.distortion-name {
    font-size: 2em;
}

.distortion-example {
    font-style: italic;
}

.distortion-list {
    list-style-type: none;
}

.distortion-name, .distortion-description, .distortion-example {
    background-color: white;
}

.distortion-description, .distortion-example, .distortion-list {
    font-size: 1.2em;
}

.distortion-list, .distortion-name {
    font-weight: 700;
}

.distortion-list li {
    cursor: pointer;
}

a {
    color: #cb9d06;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
